*{
    padding: 0px;
    margin: 0px;
    
}
body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.title{
    padding: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}
.menu{
    margin: 20px 30px;
}
li{
padding: 6px;
}
.home-link{
    padding: 20px;
    color: white;
    display: block;
    text-align: center;
    background-color: lightcoral;
    text-decoration: none;
}
.photo{
    display: block;
    margin: auto;
}
.subtitle{
    margin-left: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid lightgrey;
}

.description-content{
    margin-left: 26px;

}
.ingredients-content{
    margin-left: 40px;
}

.steps-content{
    margin-left: 40px;
}